
<template lang="pug">
q-card
  q-card-section Importar Planilha
  q-card-section.q-gutter-md
    q-item
      q-item-section
        q-file(
          clearable
          @clear="pages = []"
          v-model="file"
          label="Selecionar Arquivo"
          accept=".xlsx"
          filled)
    q-item
      q-item-section
        q-btn(
          color="blue"
          @click="readXlsxFile()"
          :disabled="!file"
          :loading="loading"
          label="Importar"
        )
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue'
import XLSX from 'xlsx'

export default defineComponent({
  name: 'CheckPointImportDialog',
  setup(props, context) {
    const file = ref()
    const loading = ref(false)

    const readXlsxFile = () => {
      const fileReader = new FileReader()
      fileReader.readAsArrayBuffer(file.value)
      fileReader.onload = () => {
        loading.value = true
        const data = new Uint8Array(fileReader.result as ArrayBuffer)
        const workbook = XLSX.read(data, { type: 'array' })
        const sheets = workbook.SheetNames.map((name) => {
          const sheet = workbook.Sheets[name]
          const json = XLSX.utils.sheet_to_json(sheet)
          return {
            name,
            data: json,
          }
        })
        // const sheet = workbook.Sheets[workbook.SheetNames[0]]
        // const json = XLSX.utils.sheet_to_json(sheet, {raw: false})
        context.emit('import', sheets)
        loading.value = false
      }
    }

    return {
      file,
      loading,
      readXlsxFile
    }
  },
})
</script>
