<template lang="pug">
q-item(
  clickable
  v-ripple
  :to="link"
  exact
)
  q-item-section(side)
    q-icon(v-if="icon" :name="icon")
  q-item-section
    q-item-label {{title}}
    q-item-label(caption v-if="caption") {{caption}}
</template>
<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'MenuItem',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    }
  },
  setup() {
    return {}
  }
})
</script>
