<template lang="pug">
q-page
  .row
    .col(v-for="(sheet, s) in data" :style="{ minWidth: '400px' }")
      q-card(flat square :style="{ borderRight: (s+1) < data.length ? '1px solid #e0e0e0' : '' }")
        q-card-section
          q-card-title {{sheet.name}}
        q-separator
        q-card-section.no-padding
          q-scroll-area( :style="{ height: 'calc(100vh - (50px + 54px))'}")
            q-list(separator)
              q-item(v-for="(item, i) in sheet.data" :key="i")
                q-item-section(side)
                  q-item-label {{item.code}}
                q-item-section
                  q-item-label {{item.name}}
                q-item-section
                  q-item-label {{item.cpf}}
                q-item-section(side)
                  q-item-label {{item.value}}
  q-dialog(v-model="importDialogOpen")
    check-point-import-dialog(@import="loadData")
  q-dialog(v-model="conformedListDialogOpen")
    q-card(:style="{ width: '100%', maxWidth: '800px' }")
      q-card-section
        q-item
          q-item-section
            .text-subtitle1 Items com divergência nos valores
          q-item-section(side)
            q-btn(label="Baixar Planilha" push color="green" icon="download" @click="exportConformedListToXLSX")
          q-item-section(side)
            q-btn(round dense flat icon="close" @click="conformedListDialogOpen = false")
      q-separator
      q-card-section.no-padding
        q-scroll-area(:style="{ height: 'calc(400px)'}")
          q-list(separator)
            q-item(v-for="(item, i) in conformedList" :key="i")
              q-item-section(side)
                q-item-label(caption) Matrícula
                q-item-label {{item.code}}
              q-item-section
                q-item-label(caption) Nome
                q-item-label {{item.name}}
              q-item-section(side)
                q-item-label(caption) Valor {{data[0].name}}
                q-chip {{formatBrCurrency(item.value)}}
              q-item-section(side)
                q-item-label(caption) Valor {{data[1].name}}
                q-chip {{formatBrCurrency(item.value_alt)}}
              q-item-section(side)
                q-item-label(caption) Diferença
                q-chip {{formatBrCurrency(item.value_alt - item.value)}}
  q-page-sticky(
    position="bottom-right"
    :offset="[18, 18]"
  )
    q-btn(
      fab
      icon="add"
      color="blue"
      aria-label="Importar"
      @click="importDialogOpen = true"
    )
  q-page-sticky(
    position="bottom-left"
    :offset="[18, 18]"
    v-if="data.length > 0"
  )
    q-btn(
      fab
      icon="download"
      color="green"
      aria-label="Comparar"
      @click="compareSheets()"
    )
</template>
<script lang="ts">
import { defineComponent, ref, defineAsyncComponent } from 'vue'
import XLSX from 'xlsx'


type ItemSheet = {
  code: string
  name: string
  cpf: string
  value: string
}
type ItemSheetConformed = {
  code: string
  name: string
  cpf: string
  value: number
  value_alt: number
}
type DataSheet = {
  name: string,
  data: ItemSheet[]
}

export default defineComponent({
  name: 'CheckPointPage',
  components: {
    CheckPointImportDialog: defineAsyncComponent(() => import('components/checkPoint/CheckPointImportDialog.vue')),
  },
  setup() {
    const data = ref<DataSheet[]>([])
    const conformedList = ref<ItemSheetConformed[]>([])
    const importDialogOpen = ref(false)
    const conformedListDialogOpen = ref(false)

    const flattenCurrency = (value: string) => {
      // Replace all blanc spaces, dots, commas and R$
      if (!value) return 0
      const valueAsString = String(value) 
      const valueString = valueAsString
          .trim()
          .replace(/\s/g, '')
          .replace(/R\$/g, '')
      const valueNumber = Number(valueString)
      return valueNumber
    }

    const formatBrCurrency = (value: number) => {
      const formatter = new Intl.NumberFormat('pt-BR', {
        style: 'currency',
        currency: 'BRL'
      })
      return formatter.format(value)
    }

    const loadData = (json: unknown) => {
      data.value = json as DataSheet[]
      importDialogOpen.value = false
    }

    const compareSheets = () => {

      const list1: ItemSheet[] = data.value[0].data
      const list2: ItemSheet[] = data.value[1].data

      list1.forEach((item1) => {
        const foundOnList2 = list2.find((item2) => item1.code === item2.code)
        if (foundOnList2) {
          if (foundOnList2.value !== item1.value) {
            conformedList.value.push({
              ...item1,
              value: flattenCurrency(item1.value),
              value_alt: flattenCurrency(foundOnList2.value)
            })
          }
        }
      })
      conformedListDialogOpen.value = true
    }

    const exportConformedListToXLSX = () => {

      const list = conformedList.value.map((item) => {
        return [
          item.code,
          item.name,
          item.cpf,
          item.value,
          item.value_alt,
          item.value_alt - item.value
        ]
      })
      const headers = ['Código', 'Nome', 'CPF', `Valor ${data.value[0].name}`, `Valor ${data.value[1].name}`, 'Diferença']
      const wb = XLSX.utils.book_new()      
      const ws = XLSX.utils.aoa_to_sheet(
        [
          headers,
          ...list
        ]
      )
      XLSX.utils

      XLSX.utils.book_append_sheet(wb, ws, 'Conformed List')
      XLSX.writeFile(wb, 'conformed_list.xlsx')
    }
    
    return {
      importDialogOpen,
      conformedList,
      conformedListDialogOpen,
      data,
      exportConformedListToXLSX,
      loadData,
      compareSheets,
      flattenCurrency,
      formatBrCurrency
    }
  },
})
</script>
