<template lang="pug">
q-layout(view="hHh lpR fFr")
  q-header(elevated reveal)
    q-toolbar
      q-btn(
        flat
        dense
        round
        icon="menu"
        aria-label="Menu"
        @click="toggleLeftDrawer"
      )
      q-toolbar-title Comparar Planilhas
  //- q-drawer(
  //-   v-model="leftDrawerOpen"
  //-   show-if-above
  //-   elevated
  //- )
  //-   q-list
  //-     menu-item(
  //-       v-for="link in essentialLinks"
  //-       :key="link.title"
  //-       v-bind="link"
  //-     )

  q-page-container
    router-view
</template>

<script lang="ts">

const linksList = [
  {
    title: 'Comparar Planilhas',
    icon: 'view_comfy',
    link: '/comparar-planilhas'
  }
];

import { defineComponent, ref, defineAsyncComponent } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  components: {
    MenuItem: defineAsyncComponent(() => import('components/layout/MenuItem.vue')),
  },

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
